body {
  background-color: #222;
}

header {
  color: #cdf;
}

.bar {
  border: 1px solid black;
  width: 15px;
  float: left;
}

.bar p {
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
}