.space {
  height: 100px;
  width: 1000px;
}

header {
  position: fixed;
  z-index: 2;
  margin-left: 10px;
}

#upper {
  height: 100px;
  border: 2px solid #555;
}

#lower {
  margin-top: 50px;
  height: 10px;
}

h3::first-letter {
  font-size: 200%;
}